<div class='circle user' id='user'></div>
<div class='circle packages' id='packages'></div>
<div class='circle features' id='features'></div>
<div class='circle servey' id='servey'></div>
<div class='circle seeResults' id='seeResult'></div>